.banner1{
    margin-top: 6.5rem;
}
.banner1 img{
    width: 96vw;
    margin: auto;
    cursor: pointer;
}
.banner2{
    display: flex;
    justify-content: center;
}
.banner2 img{
    width: 50vw;
    cursor: pointer;
}